.card-body {
    text-align: center;    
}

.checked {
    color: orange;
}
.header
{
    display: flex;
    align-items: center;
    background-color: rgb(35, 34, 34);
    height: 150px;
    text-align: center;
    justify-content: center;
    color: white;
}
.btn
{
    border-color: gray;
}
.footer
{
text-align: center;
margin: 20px;
}
